<h1 class="text-center">Patientenverwaltung</h1>
<div class="row">
  <div class="col-lg-8">
    <div class="form-group row">
      <div class="col-8">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Suche</div>
          </div>
          <input
            (input)="searchPatients()"
            [(ngModel)]="search"
            type="text"
            id="search"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-auto">
        <button
          class="pull-right btn btn-primary btn-sm"
          (click)="prepareEditPatient()"
        >
          <i class="fa fa-plus"></i> Patient hinzufügen
        </button>
      </div>
    </div>
    <div class="row" style="clear:both">
      <div *ngFor="let patient of patients" class="m-2 card col-lg-6">
        <div class="card-body">
          <h5 style="display: inline-block">
            {{ patient.lastName }} {{ patient.firstName }}
          </h5>
          <small class="text-muted">
            ({{ patient.birthday | date: "dd.MM.yyyy" }})</small
          >
          <div class="pull-right">
            <button
              (click)="deletePatient(patient.id)"
              class="m-1 btn btn-danger btn-sm"
            >
              <i class="fas fa-trash"></i>
            </button>
            <button
              (click)="editSelectedPatient(patient.id)"
              class="m-1 btn btn-primary btn-sm"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
          <dl class="row">
            <dt>Patientennummer</dt>
            <dd>{{ patient.patientNumber }}</dd>
            <dt>Stadt</dt>
            <dd>{{ patient.postCode }} {{ patient.city }}</dd>
            <dt>Straße</dt>
            <dd>{{ patient.street }} {{ patient.houseNumber }}</dd>
          </dl>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Patientennummer</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Geburtstag</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <th>{{ patient.patientNumber }}</th>
          <th>{{ patient.firstName }}</th>
          <th>{{ patient.lastName }}</th>
          <th>
            {{ patient.birthday | date: "dd.MM.yyyy" }}
          </th>
          <th>
            <div class="pull-right">
              <button
                (click)="editSelectedPatient(patient.id)"
                class="btn btn-primary btn-sm"
              >
                <i class="fas fa-pencil-alt"></i> Bearbeiten
              </button>
              <button
                (click)="deletePatient(patient.id)"
                class="m-1 btn btn-danger btn-sm"
              >
                <i class="fas fa-trash"></i> Löschen
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="editPatient">
      <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label">Vorname</label>
        <div class="col-sm-8">
          <input
            type="text"
            [(ngModel)]="editPatient.firstName"
            class="form-control"
            id="firstName"
            required
            name="firstName"
            maxlength="50"
            #firstName
          />
          <span class="help-block" *ngIf="!firstName.valid && firstName.touched"
            >Vorname ist ein Pflichtfeld</span
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-4 col-form-label">Nachname</label>
        <div class="col-sm-8">
          <input
            type="text"
            [(ngModel)]="editPatient.lastName"
            class="form-control"
            id="lastName"
            required
            name="lastName"
            maxlength="50"
            #lastName
          />
          <span class="help-block" *ngIf="!lastName.valid && lastName.touched"
            >Nachname ist ein Pflichtfeld</span
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="birthday" class="col-sm-4 col-form-label">Geburtstag</label>
        <div class="col-sm-8">
          <input
            type="date"
            [value]="editPatient.birthday | date: 'yyyy-MM-dd'"
            (input)="editPatient.birthday = parseDate($event.target.value)"
            class="form-control"
            id="birthday"
            required
            name="birthday"
            #birthday
          />
          <span class="help-block" *ngIf="!birthday.valid && birthday.touched"
            >Geburtstag ist ein Pflichtfeld</span
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="patientenNumber" class="col-sm-4 col-form-label"
          >Patientennummer</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            [ngModel]="editPatient.patientNumber"
            class="form-control"
            id="patientenNumber"
            name="patientenNumber"
            maxlength="10"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-4 col-form-label">Stadt</label>
        <div class="col-sm-8">
          <input
            type="text"
            [ngModel]="editPatient.city"
            class="form-control"
            id="city"
            name="city"
            maxlength="50"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="postCode" class="col-sm-4 col-form-label"
          >Postleitzahl</label
        >
        <div class="col-sm-8">
          <input
            type="number"
            [ngModel]="editPatient.postCode"
            class="form-control"
            id="postCode"
            name="postCode"
            maxlength="5"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="street" class="col-sm-4 col-form-label">Straße</label>
        <div class="col-sm-8">
          <input
            type="text"
            [ngModel]="editPatient.street"
            class="form-control"
            id="street"
            name="street"
            maxlength="50"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="houseNumber" class="col-sm-4 col-form-label"
          >Hausnummer</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            [ngModel]="editPatient.houseNumber"
            class="form-control"
            id="houseNumber"
            name="houseNumber"
            maxlength="10"
          />
        </div>
      </div>
      <span class="help-block" *ngIf="error">{{ error }}</span>
      <div class="pull-right">
        <button
          type="button"
          class="m-1 btn btn-default"
          (click)="prepareEditPatient(true)"
        >
          Zurücksetzen
        </button>
        <button
          [disabled]="!f.valid"
          type="submit"
          [ngClass]="editPatient.id >= 0 ? 'btn-success' : 'btn-primary'"
          class="btn"
        >
          {{ editPatient.id >= 0 ? "Updaten" : "Erstellen" }}
        </button>
      </div>
    </form>
  </div>
</div>
