.table td,
.table th {
  vertical-align: middle;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.pull-right {
  float: right;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
